.navbar-brand{
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.logo{
    width: 5vw;
    height: 7vh;
}
.logo_full{
    width:11vw;
    height:5vh;
}
img{
    margin: 20px 0;
}
nav{
    padding: 0;
}
.container-fluid{
    background-color: black;
}
.length{
    height: 8vh;
    width: 8vw;
}
.dropdown-item{
    width: 8vw;
}
.register{
  padding-bottom: 5px;
  border-bottom:2px solid #5c636a;
}
.admin{
  padding-top: 5px;
}
/* div */
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:blanchedalmond;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
  }
  /* input */
  .search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: black;
    float: left;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
    font-style: italic;
    font-weight: 400;
  }
  table{
    margin-top: 5px;
    border: 2px solid black;
  }
  td,th{
    border: 1px solid black;
  }
  th{
    text-align: center;
  }
  .btn-outline-success{
    border: 0;
  }
  .center{
    text-align: center;
  }
  .search-input::placeholder {
    color: #dbc5b0;
  }
  /* icon */
  .search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
  }
  .search-input:focus,
  .search-input:not(:placeholder-shown) {
    width: 240px;
    /* padding: 0 6px; */
  }
  .search-box:hover > .search-input {
    width: 240px;
    /* padding: 0 6px; */
  }
  .search-box:hover > .search-btn,
  .search-input:focus + .search-btn,
  .search-input:not(:placeholder-shown) + .search-btn {
    background: black;
    color: white;
  }